<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magelearn" translate="label" sortOrder="10">
            <label>Magelearn Modules</label>
        </tab>
        <section id="dynamic_list" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        	<class>separator-top</class>
            <label>Select Products From Grid</label>
            <tab>magelearn</tab>
            <resource>Magelearn_DynamicProduct::config</resource>
            <group id="selection" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="select_product" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Product</label>
                    <frontend_model>Magelearn\DynamicProduct\Block\Adminhtml\System\Config\Product</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>